<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detalle de Estudiante y Cuotas</title>
</head>
<body>
<h1>Detalles del estudiante</h1>

<h2>Información del Estudiante</h2>
<p>Rut: <span th:text="${estudiante.rut}"></span></p>
<p>Apellidos: <span th:text="${estudiante.apellidos}"></span></p>
<p>Nombres: <span th:text="${estudiante.nombres}"></span></p>

    <form th:action="@{/pagar-matricula/{id}(id=${estudiante.id})}" method="post">
        <button type="submit">Pagar Matrícula</button>
    </form>

<h2>Cuotas</h2>
<table border="1">
    <thead>
    <tr>
        <th>Tipo De Cuota</th>
        <th>Monto</th>
        <th>Pagada</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="cuota : ${cuotas}">
        <td th:text="${cuota.tipo}"></td>
        <td th:text="${cuota.monto}"></td>
        <td th:text="${cuota.estado}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
